<h1><%= @product.name %></h1>
<h5 style="background-color: #grey; color: red;"><%= %></h5>
<h4><%= @product.price %>$</h4>
<p><%= @product.description %></p>
<%= link_to "Go Back", root_path %>
<%= image_tag(@product.image_url, class: "show-image-lg")%>
<h6 style="color: red;">category: <%= @category.find(@product.category_id).name %></h6>